# virtualenv
/apimts-venv
apimts-venv
*apimts-venv
.apimts-venv
apimts-venv/

# documentation api mts
/documentation
documentation
*documentation
.documentation
documentation/

# virtualenv variables
.env
/.env
*.env
env

# data for sms-sending
test_data.json
/test_data.json
.test_data.json
*test_data.json
test_data/
test_data

#sent messages
sent_messages/
/sent_messages
sent_messages
*sent_messages
.sent_messages

# __pycache__
__pycache__/
__pycache__
/__pycache__

# debug file
debug.log
.log
/debug.log

# zip files
*.zip
.zip

# text message
text_message.txt
/text_message.txt
*text_message.txt

# certifi
cacert.pem
/cacert.pem
*cacert.pem

# py files
runtest.py
/runtest.py
*runtest.py