# virtualenv
/api_mts_venv
api_mts_venv
*api_mts_venv
.api_mts_venv
api_mts_venv/

# documentation api mts
/documentation
documentation
*documentation
.documentation
documentation/

# virtualenv variables
.env
/.env
*.env
env

# data for sms-sending
test_data.json

